@model IEnumerable<Airports_Project_Final.Data.Airline>

@{
    ViewData["Title"] = "Index";
}

<div class="all-airline-info-wrap">
    <h1>Airlines</h1>
    @foreach (var item in Model)
    {
        <div class="display-airlines-wrap">
            <p>
                @item.Name
            </p>
            <div class="airlines-links">
                <a asp-action="Edit" asp-route-id="@item.ID" class="fancy-button-edit">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="fancy-button-delete">Delete</a>
            </div>
        </div>
    }
</div>