@{
    ViewData["Title"] = "Home Page";
}

<div class="vertical">
    <p>Traveling the globe, making dreams come true!</p>
    <div class="buttons-wrapper">
        <a class="fancy-button" asp-controller="Airports" asp-action="Create">
            <p>Create Airport</p>
        </a>
        <a class="fancy-button" asp-controller="Flights" asp-action="Create">
            <p>Create Flight</p>
        </a>
        <a class="fancy-button" asp-controller="Airlines" asp-action="Create">
            <p>Create Airline</p>
        </a>
    </div>
</div>