body {
    background-color: #1f2833;
    color: white;
    background-image: url(/img/plane_in_sky.png);
    background-attachment: fixed;
}

table.table {
    color: white;
}

footer {
    background-color: black;
}

.buttons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.fancy-button {
    text-decoration: none;
    color: #101418;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    height: 50px;
    width: 140px;
    border: 3px solid #101418;
    border-radius: 5px;
    transition: .25s;
}

.fancy-button:hover {
    text-decoration: none;
    color: #66fcf1;
    border-color: #66fcf1;
    text-shadow: 3px 3px 4px lightskyblue;
    box-shadow: 3px 3px 5px lightskyblue;
    background-color: rgba(0, 0, 0, .3);
}

.text-center {
    display: flex;
    align-items: center;
    letter-spacing: 10px;
    color: rgb(0, 179, 179);
    text-shadow: 4px 4px 5px blue;
}

.text-center a::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: #25e3f5;
    box-shadow: lightskyblue 4px 4px 5px;
    transition: width .3s ease-in;
    margin-top: 10px;
}

.text-center a:hover::after {
    width: 100%;
}

div.container-nav {
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid darkcyan;
    border-top: 2px solid darkcyan;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: black;
}

div.container-nav a {
    text-decoration: none;
    transition: 0.20s;
}


div.container-nav a:hover {
    text-decoration: none;
    text-shadow: 4px 4px 5px lightskyblue;
    color: #66fcf1;
}

.general-links-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.nav-button {
    font-size: 20px;
}

.main-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: silver 5px 5px 4px;
    background-color: rgb(100, 100, 100, .6);
}

.vertical > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-style: oblique;
    color: cyan;
    font-size: 30px;
    text-shadow: 3px 3px 4px lightblue;
    margin-bottom: 80px;
}

.fancy-button-seats {
    text-decoration: none;
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    transition: 0.20s;
}

.fancy-button-seats:hover {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
}

.fancy-button-delete {
    text-decoration: none;
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    border: 1px solid red;
    border-radius: 5px;
    transition: 0.20s;
}

.fancy-button-delete:hover {
    text-decoration: none;
    background-color: red;
    color: white;
}

.add-seats-view-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.add-seats-view-menus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-seats-buttons-holder {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.add-seats-buttons-holder button {
    height: 80px;
    width: 150px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: lightcyan;
    font-size: 25px;
}

.seat-input {
    margin-right: 10px;
    width: 125px;
    height: 50px;
    border: 1px solid red;
    border-radius: 6px;
    font-size: 20px;
}

.input-wrap {
    margin-bottom: 30px;
}

.seat-class-select {
    border: 1px solid blue;
    border-radius: 6px;
    width: 110px;
    height: 30px;
}

.create-flight-info-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 900px;
}

.any-seat-class {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
}

.rows-span {
    margin-left: 210px;
}
.cols-span {
    margin-left: 93px;
}

.fancy-delete-seat {
    margin-right: 5px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    border: 1px solid red;
    color: lightgrey;
    border-radius: 5px;
    transition: 0.20s;
}
.fancy-delete-seat:hover {
    text-decoration: none;
    color: white;
    background-color: red;
}

.fancy-book-seat {
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    border: 1px solid dodgerblue;
    color: lightgrey;
    border-radius: 5px;
    transition: 0.20s;
}
.fancy-book-seat:hover {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
}

.fancy-book-seat-span {
    cursor: not-allowed;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 35px;
    border: 1px solid rgb(160, 160, 160);
    color: rgb(160, 160, 160);
    border-radius: 5px;
}

.all-airline-info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: silver 5px 5px 4px;
    background-color: rgb(100, 100, 100, .6);
}
.all-airline-info-wrap > h1 {
    margin-bottom: 70px;
}

.all-seats-info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    width: 374px;
}
.all-seats-info-wrap > h3 {
    margin-bottom: 40px;
}

.display-airlines-wrap {
    margin-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.display-airlines-wrap > p {
    font-size: 22px;
    margin-bottom: 0;
}

.fancy-button-edit {
    text-decoration: none;
    color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 90px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    transition: 0.20s;
}
.fancy-button-edit:hover {
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
}

.airlines-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}

.display-seats-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin-bottom: 8px;
}

.display-seats-wrap > p {
    margin: 0;
}

.mega-seats-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: silver 5px 5px 4px;
    background-color: rgb(100, 100, 100, .6);
}

.search-flight-button {
    margin-bottom: 20px;
    font-size: 28px;
    color: darkcyan;
    transition: .2s;
}

.search-flight-button:hover {
    text-decoration: none;
    color: cyan;
}

.search-flight-button::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: cyan;
    transition: width .2s ease-in;
}

.search-flight-button:hover::after {
    width: 100%;
}

.flight-creation-info-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 30px;
    box-shadow: silver 5px 5px 4px;
    background-color: rgb(100, 100, 100, .6);
}

.table-data-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 48px;
}

.input-text-search-flights {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 800px;
}

.input-text-search-flights > form {
    display: flex;
    justify-content: center;
}

.title-and-filter-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 118px;
}

.form--input {
    height: 36px;
    width: 120px;
    border-radius: 5px 0 0 5px;
    border: 1px solid black;
    border-right: 0;
    padding-left: 10px;
    color: white;
    background-color: rgba(0, 0, 0, .3);
}

.form--select {
    height: 36px;
    width: 105px;
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    color: white;
    background-color: rgba(0, 0, 0, .3);
}

.form-submit-button {
    height: 36px;
    border-radius: 0 5px 5px 0;
    border: 1px solid black;
    color: white;
    background-color: rgba(0, 0, 0, .4);
}

.airports-edit-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    color: lightgrey;
    transition: .2s;
}

.airports-delete-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 40px;
    border: 1px solid red;
    border-radius: 5px;
    color: lightgrey;
    transition: .2s;
}

.airports-delete-link:hover {
    text-decoration: none;
    color: white;
    background-color: red;
}

.airports-edit-link:hover {
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
}

.edit-and-delete-airports-links {
    display: flex;
    justify-content: space-between;
    width: 110px;
}