@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Star Cadet Online Shop!</h1>
    <p>~Made by Daniel~</p>
    <div class="buttons-wrapper">
        <a class="fancy-button" asp-controller="Products" asp-action="Create">
            <p>Create Product</p>
        </a>
    </div>
</div>
